.cart-product-list__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
.cart-product-list__list__item {
  display: flex;
  flex-direction: column;
  line-height: 2;
  span {
    margin: 10px;
  }
}
.cart-product-list__list__image {
  width: 100%;
}
.cart-product-list__list__title {
  font-size: 1rem;
}
.cart-product-list__list__price {
  font-size: 1rem;
}
.cart-product-list__list__price span {
  font-weight: lighter;
}

.cart-product-list__list__amount-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.cart-product-list__list__amount-wrapper__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border: 1px solid gray;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: gray;
  }
}

@media screen and(min-width:600px) {
  .cart-product-list__list__item {
    width: 350px;
  }
}
